<div class="w3-card-4">
    <div class="w3-container w3-light-grey">
        <h2><i class="fa fa-lock" aria-hidden="true"></i> Autenticar</h2>
    </div>
    <form class="w3-container">
        <p>      
            <label class="w3-label w3-text-black"><b><i class="fa fa-user" aria-hidden="true"></i> Usuario</b></label>
            <input id="usr" class="w3-input w3-border w3-light-grey" type="text">
        </p>
        <p>      
            <label class="w3-label w3-text-black"><b><i class="fa fa-key" aria-hidden="true"></i> Contrase&ntilde;a</b></label>
            <input id="psw" class="w3-input w3-border w3-light-grey" type="password">
        </p>
        <p> 
        <label class="w3-label w3-text-red msg-login hide-msg">Usuario y/o Contraseña incorrectos</label>
        <a class="w3-btn w3-round w3-light-grey w3-border" id="btn-login"><i class="fa fa-unlock" aria-hidden="true"></i> Acceder</a>
        </p>
    </form>
</div>